@import '~scss/variables';

pound-header {
  z-index: 4;
  position: fixed;
  width: 100%;
}

$content-top-offset: $header-height + $margin-vertical;

.pound-content {
  background: #fff;
  display: block;
  width: $desktop-content-width;
  height: calc(100% - #{$content-top-offset});
  margin: 0 auto;
  padding-top: $content-top-offset;
  z-index: 0;

  pound-missed-calls {
    display: block;
    padding-bottom: $margin-vertical * 3;
    padding-top: $margin-vertical * 3;
  }

  mat-grid-list {
    height: calc(100% - #{$content-top-offset});

    .grid-item {
      height: 400px;
      width: 100%;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .pound-content {
    width: 100%;
  }
}

.content-rows {
  display: flex;
  flex-direction: row;
}
