<pound-header></pound-header>
<div class="pound-content">
  <pound-missed-calls></pound-missed-calls>

  <mat-grid-list cols="3" rowHeight="400">
    <mat-grid-tile>
      <pound-call-history class="grid-item"></pound-call-history>
    </mat-grid-tile>
    <mat-grid-tile>
      <pound-frequent-numbers class="grid-item"></pound-frequent-numbers>
    </mat-grid-tile>
    <mat-grid-tile>
      <pound-total-call-duration class="grid-item"></pound-total-call-duration>
    </mat-grid-tile>
  </mat-grid-list>
</div>
