$desktop-content-width: 1000px;

$breakpoint-mobile: 1000px;

$header-height: 64px;
$footer-height: 32px;

$margin-vertical: 16px;

// see: https://material.io/design/layout/responsive-layout-grid.html#columns-gutters-margins
$grid-margin: 16px;
