$desktop-content-width: 800px;

$breakpoint-mobile: 800px;

$header-height: 64px;

$margin-vertical: 16px;

// see: https://material.io/design/layout/responsive-layout-grid.html#columns-gutters-margins
$grid-margin: 16px;
