<h2 class="pound-header mat-h2">Total Duration</h2>

<mat-list class="mat-typography">
  <mat-list-item>
    <mat-icon matListIcon>call_received</mat-icon>
    <h4 matLine>{{incomingDuration | async | amDuration: 'seconds'}}</h4>
    <p matLine>Incoming</p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon>call_made</mat-icon>
    <h4 matLine>{{outgoingDuration | async | amDuration: 'seconds'}}</h4>
    <p matLine>Outgoing</p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon>phone</mat-icon>
    <h4 matLine>{{totalDuration | async | amDuration: 'seconds'}}</h4>
    <p matLine>Combined</p>
  </mat-list-item>
</mat-list>
